@model Sopheon.Domain.Responses.GetTemplateForEditResponse
<div class="edit-panel">
    <form id="processTemplateForm">
        <h4>Name</h4>
        @Html.TextBoxFor(model => ((Sopheon.Domain.Entities.ProcessTemplate)model.Subject).Name)
        <hr />
        <input type="button" class="sub-tile sangre-inject" value="Save" 
            data-target="#mainBody .list-panel"
            data-url="/ProcessModelAdmin/Template/Save"
            data-form="#processTemplateForm"
            data-validate="true"
            data-type="POST"
            />
        <input type="button" class="sub-tile sangre-remove" value="Cancel" data-target="#editProcessModelPanel .edit-panel"/>
    </form>
</div>