<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="SopheonEntities" connectionString="metadata=res://*/Sopheon.csdl|res://*/Sopheon.ssdl|res://*/Sopheon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hutchinsweb\hutchinssql;initial catalog=sopheon.prototype;user id=developer;password=D3vel0per;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>