<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CorpGameDataEntities" connectionString="metadata=res://*/GameScoreModel.csdl|res://*/GameScoreModel.ssdl|res://*/GameScoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=stage.ethicsgame.com;initial catalog=CorpGameData;user id=eg;password=supp0rt!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SopheonEntities" connectionString="metadata=res://*/Sopheon.csdl|res://*/Sopheon.ssdl|res://*/Sopheon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hutchinsweb\hutchinssql;initial catalog=sopheon.prototype;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>