<li class="my-system"><strong>Manage My System:</strong></li>
<li class="small-tile button-tile sopheon-nav my-system sangre-inject" 
    data-nav-keepclasses="permanent my-system"
    data-nav-path="~/Areas/ProcessModelAdmin/Views/Nav/SubNavProcessModels.cshtml"
    data-nav-target="#mainBody .primarynavigation"
    data-target="#mainOperationBody" data-url="/ProcessModelAdmin/ProcessModels"
    >Process Models</li>
<li class="small-tile button-tile sopheon-nav my-system sangre-inject" 
    data-nav-keepclasses="permanent my-system"
    data-nav-path="~/Areas/ProcessModelAdmin/Views/Nav/SubNavMetrics.cshtml"
    data-nav-target="#mainBody .primarynavigation"
    data-target="#mainOperationBody" data-url="/ProcessModelAdmin/Metrics"
    >Metrics</li>
@{ Html.RenderPartial("~/Areas/ProcessModelAdmin/Views/Nav/SubNavProcessModels.cshtml"); }